<h3>Home</h3>
<%= render 'categories/index' %>

<% if user_signed_in? %>
  <div>Signed in as... <%= current_user.email %></div>
<% end %>

<% @users.each do |user| %>
  <p>User: <%=link_to user.email, user, :remote => current_user.nil? %></p>
<% end %>
