

<% @lots.each do |lot| %>

    <div style="position: relative; height: 360px; border: solid #ffffff">

      <div class="row" style="position: absolute; bottom:0px; left: 0px;" >
        <div class="small-4  columns">
          <strong> <%= lot.title %> </strong>
          <br>
          Status : <%= lot.status %>
          <br>
          Products : <%= lot.products.count %>
        </div>
        <div class="small-8  columns">
          <div class="owl-carousel">
            <% lot.products.each do |product| %>
                <%= image_tag product.product_images.first.photo.url(:medium)%>
            <% end %>
          </div>

        </div>

      </div>
    </div>
<% end %>