// import the CSS framework
$topbar-bg: #212D48 !default;
$reveal-modal-padding: 0px !default;
$reveal-modal-margins: 0px !default;
$reveal-modal-bg: #F2F2F2 !default;

@import "foundation";



textarea {
  height:auto;
}
.required label {
    font-weight: bold;
}

.boolean label {
  padding: 0 0;
}

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }

main {
  @include twelve-columns;
  background-color: #eee;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
.row, section {
  max-width: 120rem;
}


.button.social-login {
  font-weight: bold !important;
  color: white !important;
  padding: 1rem 2rem 1rem 1rem;
  background-color: #4468ac
  }

.button.social-login:hover {
  font-color: white !important;
  background:#547ec0 !important; /*example */
}
